*{
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}


.hero {
    width: 100%;
    height: 100vh;
    background-image: url(img/bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: auto;
}

.logo {
    width: 100px;
    cursor: pointer;
    size: 100px;
}

.navbar {
    width: 85%;
    height: 10%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h2 a {
    border: 0px solid #fff;
}
a {
    color: #fbfcfd;
    padding: 10px 30px;
    background: transparent;
    border: 1.5px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;  
    text-decoration: none;
    text-align: center;
}

a:hover {
    background-color: #ffffff21;
    color: rgb(255, 255, 255);
  }

button {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1.5px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

button.signup {
    margin-left: 10px;
    margin-right: 0;
}

button.research {
    margin-right: auto;
    margin-left: 35px;
}

button.services {
    margin-right: auto;
    margin-left: -1035px;
}

.content {
    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

small {
    font-size: 30px;
}

h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}

h2 {
    font-size: 40px;
    color: #fbfcfd;
}
.side-bar {
    width: 50px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

.menu {
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}

.social-links img, .useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}

.social-links {
    width: 50px;
    text-align: center;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.useful-links {
    width: 50px;
    text-align: center;
    text-align: center;
    position: absolute;
    bottom: 30px;
}

.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -80;
    bottom: -110px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* make sure the modal container is on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    backdrop-filter: blur(5px); /* apply a 5-pixel blur */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #ffffff00;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 100px;
    border: 1px solid #ffffff;
    width: 50%; /* Could be more or less, depending on screen size */
  }

  .modal p {
    font-size: 25px;
    color: white;
    padding-bottom: 32px;
  }

  
@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2) {
    animation-delay: 1s;
    width: 25px;
}
.bubbles img:nth-child(3) {
    animation-delay: 3s;
}
.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
    animation-delay: 3s;
}
.bubbles img:nth-child(6) {
    animation-delay: 6s;
    width: 20px;
}
.bubbles img:nth-child(7) {
    animation-delay: 7s;
    width: 30px;
}


/* Cards */

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
    flex-wrap: wrap;
    z-index: 1;
    margin: auto;
    width: 100%;
    padding: 10px;
    overflow: auto;
    max-height: 1800px;
}

.container .card {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container .card .content1 {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

.container .card .content1 h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.container .card .content1 h3 {
    font-size: 1.8em;
    color: white;
    z-index: 1;
    margin-bottom: 10px;
}

.container .card .content1 p {
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.container .card .content1 a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
}

/* img-txt */

#upload-area {
    width: 50%;
    margin: 20px auto;
    background-color: #ffffff00;
    border: 1px solid #CCCCCC;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    align-items: center;
  }
  #image-preview {
    width: 50%;
    height: auto;
    margin-right: 20px;
  }
  #output-area {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  }
  #text-output {
    width: 50%;
    padding: 20px;
    white-space: pre-line;
  }
  #text-output textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    font-size: 16px;
    margin: -13px;
  }
  #error {
    color: #ff0d00;
    font-weight: bold;
    margin-top: 10px;
  }
  input[type="file"] {
    display: block;
    margin-bottom: 10px;
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4285f4;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spinner 1s linear infinite;
    }
    
    @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
    }